
:root {
    --light: white;
    --light-2: rgb(243, 243, 243);
    --gray: rgb(112, 112, 112);
}

* {
    font-family: "Balto", Helvetica;
}



/* PAGE SIZING STUFF */
.Container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.Content-Wrapper {
    max-width: 1024px;
    width: 100%;
    padding: 12px;
}




/* STUFF SHARED BY BOTH GRAPHS */

.tooltip > p, .tooltip > div > p {
    margin-block-start: 0;
    margin-block-end: 0;
}