

.Tool-Bar > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative
}

.Tool-Bar > .Content-Wrapper {
    padding-bottom: 0px;
}


.ModeButtons-and-Params {
    display: flex;
    /* align-items: center; */
}

.ModeButtons-and-Params > div > label {
    align-self: center;
    margin: 0px 8px 0px 24px;
    font-size: 14px;
    color: var(--gray)
}

.Fair-Unfair-Container {
    display: flex;
    width: 30%;
    min-width: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Fair-Unfair-Container > p {
    font-size: 12px;
    /* flex-grow: 1; */
    flex-shrink: 1;
    display: inline-block;
}

.Fair-Unfair-Container > p:first-child {
    text-align: end;
    cursor: pointer;
}

.Fair-Tooltip {
    width: 200px;
    position: absolute;
    z-index: 12;
}

.Fair-Tooltip > p {
    font-size: 12px;
}

.Gradient-Legend {
    padding: 2px;
    width: 60%;
    height: 1rem;
    min-width: 30px;
    background: linear-gradient(90deg, rgb(40,91,133),rgb(212,100,44));
    margin: 0px 4px;
}

.Parameter-Select {
    padding: 4px;
    width: 15vw;
    max-width: 200px;
    min-width: 100px;
    border-radius: 8px;
    background-color: buttonface;
}

.Parameter-Select:focus{
    outline: none
}

.Mode-Buttons {
    display: flex;
}

.Mode-Buttons > button {
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray);
}

.active {
    background-color: var(--gray-3);
}

.Mode-Buttons > button:first-child {
    border-radius: 8px 0 0 8px;
    border-right: 0px;
}
.Mode-Buttons > button:last-child {
    border-radius: 0 8px 8px 0;
}

.Mode-Buttons > button > img {
    width: 24px;
}

@media (max-width: 750px){
    .Fair-Unfair-Container {
        width: 100%;
        margin-top: 16px;
        justify-content: flex-start;
    }
}

@media (max-width: 600px){
    .ModeButtons-and-Params {
        width: 100%;
        justify-content: space-between;
    }

    .Fair-Unfair-Container {
        width: 100%;
        margin-top: 16px;
        justify-content: center;
    }

    .Select-Container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}